<div>
  <!-- <div class="dateAndStatus">
    <div class="dateCreated">
      {{booking.createdAt}}
    </div>
    <div [ngClass]="getStatus(booking.status)" class="bookingStatus">
      Status:
      <b>
        {{booking.status}}
      </b>
    </div>
  </div> -->
  <div class="page ion-activatable ripple-parent" (click)="viewPage()">
    <div class="cardPhotoHolder">
      <div *ngIf="photo" class="cardPhoto" [ngStyle]="{'background-image': 'url('+photo+')' }">
      </div>
      <div  *ngIf="!photo" class="cardPhoto">
        <ion-icon name="golf-outline"></ion-icon>
      </div>
    </div>
    <div class="pageInfo">
      <div class="pageName">{{name}}</div>
      <div class="address">{{address}}</div>
      <div class="ownerText">Owner:</div>
      <div class="address creator">{{creator}}</div>
      <div class="address creator number">{{contactNumber}}</div>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>
  <div *ngIf="booking.selectedServices.length > 0" class="selectedServices mainLightBg2">
    <div class="sectionTitle title">Selected Services</div>
    <app-selected-service-card [editable]="false" *ngFor="let item of booking.selectedServices" [item]="item">
    </app-selected-service-card>
  </div>
  <div class="inputValueDisplay">
    <div class="bookingInfoText">
      Booking Information
    </div>
    <app-booking-info-display [inputValues]="booking.bookingInfo"></app-booking-info-display>
  </div>
</div>