.selectedServices {
    padding:10px;
    margin:0;
    background-color: #ffff;
    // border-bottom: 1px solid lightsteelblue;
    .sectionTitle {
        // font-size: 19px;
        padding:5px;
        color: rgb(72, 91, 109);
    }
}