.selectedServices {
    padding:10px;
    margin:0;
    background-color: #ffff;
    // border-bottom: 1px solid lightsteelblue;
    .sectionTitle {
        // font-size: 19px;
        padding:5px;
        color: rgb(72, 91, 109);
    }
}

.creator {
    color: rgb(155, 171, 187) !important;
}
.ownerText {
    font-size: 9px;
    margin-top: 5px;
    color: rgb(138, 169, 201);
}

.number {
    font-size: 13px !important;
}