<!-- <ion-header>
  <ion-toolbar>
    <ion-title>board</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content> -->
<div>

  <div>
    <div class="btnHolder">
      <div class="scrollable prev ion-activatable ripple-parent" (click)="scrollTo()">
        <ion-icon name="chevron-back-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <div class="scrollable next ion-activatable ripple-parent" (click)="scrollTo(true)">
        <ion-icon name="chevron-forward-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
    <div #tabmenu class="csTabs">
      <div class="boxShadow"></div>
      <div #closed class="csTab">
        <span>
          Closed
        </span>
      </div>
      <div #booked class="csTab">
        <span>
          Booked
        </span>
      </div>
      <div #processing class="csTab">
        <span>
          Processing
        </span>
      </div>
      <div #pending class="csTab">
        <span>
          Pending
        </span>
      </div>
      <div #cancelled class="csTab">
        <span>
          Cancelled
        </span>
      </div>
      <div #statistics class="csTab">
        <span>
          Statistics
        </span>
      </div>

      <div class="activeIndicator">

        <div (click)="goToSection('Closed', tab, ['booking', 'Closed'])" class="csTab"></div>
        <div (click)="goToSection('Booked', tab, ['booking' , 'Booked'])" class="csTab">
          <div class="box" #tab [ngStyle]="{'left.px': boxPosition}">
            <div class="shadow">{{clickedTab}}</div>
          </div>
        </div>
        <div (click)="goToSection('Processing', tab, ['booking', 'Processing'])" class="csTab"></div>
        <div (click)="goToSection('Pending', tab, ['booking', 'Pending'])" class="csTab"></div>
        <div (click)="goToSection('Cancelled', tab, ['booking', 'Cancelled'])" class="csTab"></div>
        <div (click)="goToSection('Statistics', tab, ['statistics'])" class="csTab"></div>
      </div>
    </div>


  </div>
  <div class="content" [ngStyle]="{'height.px': height}">
    <router-outlet></router-outlet>
  </div>
  <!-- </ion-content> -->
</div>