.cardBody {
    min-height: 95px;
    border-radius: 4px;
    display: flex;
    overflow: hidden;
    // box-shadow: 0 1px 2px rgb(175, 182, 190);
    box-shadow: 0 1px 2px rgba(204, 209, 214, 0.7);
    margin:10px;
    align-items: stretch;
    background-color: #ffff;
    padding:5px;
    position: relative;
    
    .cardPhotoHolder {
        height: 92px;
        // margin:2px;
        // border: .5px solid rgb(159, 171, 187);
        width: 100px;
        border-radius: 4px;
        flex-shrink: 0;
        overflow:hidden;
        background-color: lightsteelblue;
        display: flex;
        justify-content: center;
        align-items: center;

        .cardPhoto {
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            ion-icon {
                        font-size:40px;
                        color:rgb(255, 255, 255);
                    }
        }

        

        p {
            font-size: 11px;
        }
    }

    .cardInfo {
        padding:0 5px;
        width: 100%;
        div {
            margin:6px 0;

        }

        .cardTitle {
            font-size: 16px;
            margin:1px;
            overflow:hidden;
            -webkit-box-orient: vertical;
            display: block;
            display: -webkit-box;
            overflow: hidden !important;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            // color: rgb(47, 62, 77);
        }
    }
}
.cardDate {
    font-size: 12px;
    color:rgb(130, 146, 163);
    margin-right: 10px;
    margin-left: 5px;
}
.spaceBetween {
    position: unset !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}
.bookingDetails {
    flex-grow: 1 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hasOption {
    padding-right: 35px !important;
}

// .bottomRow {
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     margin:5px;
//     display: flex;
//     .status {
        
//         font-size: 15px;
//         background: #ffff;
//         margin:8px;
//         display: flex;
       
//         align-items: center;
        
//         .statusCircle {
//             width:12px;
//             height: 12px;
//             border-radius: 50%;
//             margin-right: 5px;
//             background-color: green;
//         }
//     }
    
// }
.servicesHolder {
    margin-right: 10px;
    overflow-x:auto;

    .selectedServices {
        margin:0 !important;
        // overflow-y: hidden;
        // overflow-x:auto;
        padding:0 !important;
        align-items: center;
        flex-wrap: wrap;
        display: flex;
        .service {
            
    
            background-color: rgb(239, 242, 248);
            border-radius: 3px;
            // padding:5px 8px !important;
            // padding-right: 8px;
            color:rgb(89, 111, 150);
            flex-shrink: 0;
            font-size: 12px;
            // font-weight: bold;
            margin:3px;
            overflow: hidden;

            display: flex;
            align-items: center;
            align-items: center;

            ion-icon {
                margin-right: 6px;
                margin-bottom: 3px;
                font-size: 16px !important;
            }

            span {
                margin:8px;
            }
            // height: 20px;
        }

        .noAvailed {
            background-color: rgb(244, 245, 248);
            color:rgb(194, 186, 186);
            padding: 7px 10px;
        }
    }
}

.isManual {
    color:rgb(0, 97, 224);
}

.itemQuantity {
    padding:8px;
    margin:0 !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: rgb(209, 216, 226);
    background-color: rgb(221, 225, 231);
}
