<ion-content>
  <div class="lightBackground">
    <div class="topMenu">
      <div (click)="goBack()" class="topCol backIcon ion-activatable ripple-parent ">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <div class="topCol">
        <div class="ion-activatable ripple-parent smIcon"
          (click)="goTo(['/service-provider/notifications'], {queryParams: {formDashboard: true}})">
          <ion-icon name="notifications-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
          <div *ngIf="notificationsCount && notificationsCount != 0" class="notifCount">{{notificationsCount}}</div>
        </div>
        <div
          (click)="goTo(['/service-provider/page-conversations'], {queryParams: {pageId: page._id, creator: page.creator}})"
          class="ion-activatable ripple-parent smIcon">
          <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div *ngIf="page.status == 'Online'" (click)="viewStats()" class="ion-activatable ripple-parent smIcon">
          <ion-icon name="stats-chart-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </div> 
        <div class="ion-activatable ripple-parent smIcon"
          (click)="goTo(['/service-provider/page-settings', page._id], {queryParams: {test: true}})">
          <ion-icon name="settings-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    </div>
    <div class="boardHeader ion-activatable ripple-parent" (click)="viewPage()">
      <div class="boardPhotoHolder bordered">
        <div class="boardPhoto"
          [ngStyle]="{'background-image': page.components.length > 0 && page.components[0].data.length > 0? 'url('+page.components[0].data[0].url+')' : '' }">
        </div>
      </div>
      <div class="pageInfos">
        <div class="pageName">{{name}}</div>
        <div class="pageStatusAndStats"> 

          <div class="status" [ngClass]="getStatus()">
            <div class="statusCircle"></div>
            {{page.status == "Processing" ? "Approved": page.status}}
          </div>
          
        </div>
        <div class="dashboardStats" *ngIf="page.status == 'Online'">
            <div>Bookings: <b>{{bookings.Booked}}</b></div>
            <div>Processing: <b>{{bookings.Processing}}</b></div>
            <div>Pending: <b>{{bookings.Pending}}</b></div>
          </div>
      </div>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <!-- 
        <div class="csTabs boxShadowed">
          <div class="csTab">Booked
          </div>
          <div class="csTab">Pending</div>
          <div class="csTab">Statistics</div>

          <div class="activeIndicator">
            <div [routerLink]="['booking']" (click)="goToSection('Booked', tab)" class="csTab">
              <div  class="box" #tab [ngStyle]="{'left.px': boxPosition}">
                <div class="shadow">{{clickedTab}}</div>
              </div>
            </div>
            <div [routerLink]="['booking']" (click)="goToSection('Pending', tab)" class="csTab"></div>
            <div [routerLink]="['statistics']" (click)="goToSection('Statistics', tab)" class="csTab"></div>
          </div>
        </div> -->
    <div class="dashboardContent">
      <div *ngIf="page.status == 'Pending' || page.status == 'Processing'" class="pendingDashboardOverlay">
        <div *ngIf="!showPaypal">
          <div *ngIf="page.status == 'Pending'" class="">
            <h2>Waiting for the Administrator to review your page.</h2>
            <p>Once your page is approved, you will be able to post this page online. The amount to pay is <b>&#8369;200.00</b>.</p>
            <button class="appBtn primary disabledBtn">Post this page online</button>
          </div>
          <div *ngIf="page.status == 'Processing'" class="">
            <h2>Your page is approved</h2>
            <p>Please pay to make it visible online.</p>
            <button (click)="pay()" class="appBtn primary ion-activatable ripple-parent">
              <ion-ripple-effect></ion-ripple-effect>
              Pay Now</button>&#8369; 200.00
          </div>
        </div>
        <div class="paypalButtons" *ngIf="showPaypal">
          <div class="payText">Please pay to make your page visible online.</div>
          <div class="amount">Amount: &#8369; 200.00</div>
          <div class="payThru">Pay Through:</div>
          <div #paypalRef></div>
          <div class="appBtn cancelPayment" (click)="showPaypal = false">Cancel</div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>

  </div>
 
</ion-content>