<ion-card>
  <ion-card-content style="flex-shrink: 0;" *ngIf="pendingCode">
    <div>
      <h3>{{atVerification? "Enter verification code here": "Enter code here to reset password"}}</h3>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="fieldHolder noMarginBottom"  [class.hasErrors]="form.get('code').errors != null && form.get('code').touched">
        <div class="inputLabel">Code</div>
        <input class="inputField" name="code"  autocomplete="off" formControlName="code">
        <ul class="validationError"
          *ngIf="(form.get('code').dirty || form.get('code').touched) && form.get('code').errors != null">
          <li *ngFor="let error of form.get('code').errors.validations">
            {{ error.message }}
          </li>
        </ul>
      </div>
      <div class="btnHolder">
        <button class="appBtn ion-activatable ripple-parent" [disabled]="form.get('code').errors != null" type="submit">Submit
          <ion-ripple-effect></ion-ripple-effect>
        </button>
      </div>
    </form>
  </ion-card-content>
</ion-card>
<ion-card *ngIf="pendingCode">
  <ion-card-content>
    <ion-item style="font-size: 11px" *ngFor="let code of codeSent; index as i">
      <!-- <p slot="start">{{i + 1}}</p> -->
      <ion-icon name="key-outline" slot="start"></ion-icon>
      sent to {{ code.sentTo }}
      <span style="
          font-weight: bold;
          padding-left: 5px;
          margin-left: 5px;
          border-left: 1px solid lightgray;
        ">{{ 'will expire after '+(code.displayTime != undefined ?
        code.displayTime: '00:00')}}</span>
    </ion-item>
  </ion-card-content>
</ion-card>