<ion-header>
  <ion-toolbar>
    <ion-title>Select Host Tourist Spot</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/service-provider" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="mainLightBg">
  <div style="height:100%;overflow: auto;" class="mainLightBg2">
    <!-- <div style="text-align: right; background-color: rgb(228, 228, 228); padding: 10px;"><i>Where do you offer your
      service?</i>
    </div> -->
    <div class="select-spot-note" *ngIf="selectedPage == null">
      <p>
        Select the tourist spot where you offer your service.
      </p>
    </div>

    <div class="selected-spot" *ngIf="selectedPage != null">
      <div>
        <img src="{{selectedPage? selectedPage.components[0].data[0].url: ''}}" alt="Host Spot" style="width: 100%;">
      </div>

      <!-- <ion-slides [options]="option" class="ion-margin-top">
      <ion-slide *ngFor="let spot of selectedSpots">
        <ion-card style="display: block;">
          <ion-icon name="close" class="cancel-btn" (click)="cancelSelectedSpot(spot)"></ion-icon>
          <img src="{{spot.image}}">
          <p><b>{{spot.name}}</b>
            <p>
        </ion-card>
      </ion-slide>
    </ion-slides> -->
    </div>

    <!-- STICKY POSITIONING FOR SEARCH BAR AND THE TAB FOR CATEGORY OF SPOTS -->
    <div class="select-host-spot boxShadowed2" style="
      color: #1c2c41;
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      z-index: 1;
      background-color: white;">
      <div class="host-spot-name">
        {{selectedPage ? selectedPage.components[1].data.text: 'No selected spot yet!'}}
      </div>
      <!-- <ion-label #noSpotSelected style="font-size: 18px;">No selected spot yet!</ion-label> -->

      <div class="btnHolder">
        <button class="btnStyle btns cancelBtn ion-activatable ripple-parent" [disabled]="!selectedPage"
          (click)="selectedPage = null" color="warning">
          Cancel&nbsp;<ion-icon name="close" style="font-size: 18px;"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </button>
        <button class="btnStyle btns nextBtn ion-activatable ripple-parent" [disabled]="!selectedPage"
          (click)="createServicePage()">
          Next&nbsp;&nbsp;
          <ion-icon name="send" style="font-size: 18px;"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </button>
      </div>
      <!-- <hr style="border-bottom: 1px solid gray;"> -->

      <div>
        <ion-searchbar (keyup)="onSearch()" name="searchInput" (ionClear)="clearSearch()" [(ngModel)]="searchInput" placeholder="search tourist spot"
          style="width:100%">
        </ion-searchbar>
      </div>
      <div>
        <ul>
          <!-- <li *ngFor="let spotName of allSpotsName | search: searchInput">
          {{spotName}}
        </li> -->
          <!-- <li *ngFor="let spot.components[1].data.text of touristSpotPages | search: searchInput"></li> -->
        </ul>
      </div>
      <!-- <div class="nav-spot-category" style="background-color: rgb(194, 238, 207);box-shadow: 0 4px 2px -2px gray;">
      <ion-label class="item-spot-category" *ngFor="let category of sampleCategory"
        (click)="displayListOfSpotsInCategory(category)"iiiiiiiiiiiiiiiiim,\

        ,m.m, 
        style="text-transform:uppercase !important; padding: 20px 15px; font-weight: bold;">{{category.name}}
      </ion-label>
    </div> -->
    </div>
    <ion-grid *ngFor="let spot of touristSpotPages">
      <div class="item-spot">
        <ion-row style="padding:0;" (click)="showDetails(spot)">
          <ion-col style="padding:4px">
            <div class="imgHolder">
              <div class="img" [ngStyle]="{'background-image': spot.components[0].data.length > 0? 'url('+spot.components[0].data[0].url+')' : '' }"></div>
              <!-- <img [src]="spot.components[0].data.length > 0? spot.components[0].data[0].url : ''"
                alt="Host Tourist Spot" class="spot-image-in-list"> -->
            </div>
          </ion-col>
          <ion-col size="8">
            <!-- <ion-icon *ngIf="selected" name="information-circle" style="float: right; font-size: 18px; color: green;" (click)="showDetails(spot)"></ion-icon> -->
            <!-- <ion-icon name="information-circle" style="float: right; font-size: 18px;" (click)="showDetails(spot)"></ion-icon> -->
            <!-- <ion-icon *ngIf="hostSpot.selected == true" name="checkmark-circle" style="float: right; font-size: 18px;" color="success"></ion-icon> -->
            <div class="spot-name-description">
              <p class="titleP">{{spot.components[1].data.text}}</p>
              <p class="textDesc">
                {{spot.components[6].data.text}}
              </p>
            </div>

          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
    <div id="spot-details" *ngIf="show === true">
      <div class="spot-details-2">
        <div>
          <img [src]="yourHostSpot.components[0].data[0].url" alt="Host Tourist Spot" class="spot-image-in-list">
          <p><b>{{yourHostSpot.components[1].data.text}}</b></p>
        </div>
        <div class="primary-spot-details">
          <div>
            <ion-label><b>Location:</b> {{yourHostSpot.components[2].data.text +', '+
              yourHostSpot.components[3].data.text + ', ' + yourHostSpot.components[4].data.text }}</ion-label>
          </div>
          <div>
            <ion-label><b>Description:</b> {{yourHostSpot.components[6].data.text.length > 150 && !showMore? yourHostSpot.components[6].data.text.substring(0,150)+'....':  yourHostSpot.components[6].data.text}}</ion-label>
            <span class="readMore" *ngIf="yourHostSpot.components[6].data.text.length > 150" (click)="showMore = !showMore">{{showMore ? 'Show less': 'Read more'}}</span>
          </div>
           <br>
        </div>
        <div>

          <div class="btnHolder modalBtns">
            <button class="btnStyle btns cancelBtn ion-activatable ripple-parent"
              (click)="yourHostSpot = null; show = false" color="warning">
              Close&nbsp;<ion-icon name="close" style="font-size: 18px;"></ion-icon>
              <ion-ripple-effect></ion-ripple-effect>
            </button>
            <button class="btnStyle btns nextBtn ion-activatable ripple-parent"
              (click)="selectedPage = yourHostSpot; show = false">
              Select&nbsp;&nbsp;
              <ion-icon name="send" style="font-size: 18px;"></ion-icon>
              <ion-ripple-effect></ion-ripple-effect>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</ion-content>