 .container {
    background-color: lightgray;
    box-sizing: border-box;
    text-align: left !important;
}


.text {
    box-sizing: border-box;
    text-align: left;
    padding:0;
    margin-top:5px;
    // background-color: rgb(199, 199, 199);
    background: #ffff !important;

    font-size: 18px;
} 

ion-textarea, ion-input, input, textarea {
    border: 1px solid rgb(186, 194, 204) !important;
}

.otherCategory {
    background: rgb(236, 236, 236) !important;
}

textarea {
    padding:0;
}
.fieldsHolder {
    margin:5px 0;
    padding:5px 10px;
    position: relative;

}

.closeCategoryList {
    ion-icon {
        font-size: 24px;
        color: lightslategrey !important;
    }
}
.createBtn{ 
    display: flex;
    align-items: center;
    ion-icon {
        font-size: 24px;
    }
}

.opt2 {
    padding:3px 10px !important;
    background-color: rgb(243, 243, 243);
    justify-content: space-between;
    p {
        font-size: 14px;
        margin:0 !important;
    }
    ion-icon {
        color:dodgerblue;
    }
}

.defaultLabel {
    margin: 0;
    padding:0;
    padding-top:5px;
}
.createNewCat{
    display: flex;
    align-items: center;
    span {
        color:dodgerblue;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        border-radius: 5px;
    }
}
.creatingCategoryIns{
    font-size: 13px;
    margin:5px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color:lightslategray;

    .closeCategoryList {
        margin-left: 10px;
    }
}

.optionHolder {
    position: fixed;
    left:0;
    overflow: auto;
    right:0;
    display: flex;
    padding-top:60px;
    justify-content: center;
    align-items: flex-start;
    z-index: 999999999;
    height: 100%;
    background-color: rgba(255, 255, 255, .6);
    top:0;
    .options {
        max-width: 310px;
        // margin-bottom: 30px;
        width:100%;
        display: inline-block;
        border-radius: 4px;
        margin-bottom: 50px;
        z-index: 999999;
        background-color: #ffff;
        box-shadow: 0px 1px 2px #777777;
        
        
        .option {
            padding:10px;
            // border-top: .5px solid lightgray;
            
            display: flex;
            align-items: center;
            p {
                margin:8px 5px !important;
            }
            ion-checkbox {
                margin-right: 8px;
            }
        }
    }
}

.ripple-parent {
    position: relative;
    overflow: hidden;
}

.innerHolder {
    box-shadow: 0px 2px 5px #505050;
}