<div *ngIf="!footerData.deleted">
  <div *ngIf="!footerData.done  && !creator.preview; else display">
    <div class="container  mainLightBg">
      <div class="fieldsHolder">

        <ion-textarea *ngIf="!values.default && !values.data.defaultName; else defaultLabel" auto-grow="true"
          (keyup)="detectTyping()" [readonly]="footerData.saving" [(ngModel)]="values.data.label" class="text" rows="1"
          (change)="renderText(true)" placeholder="Enter label here">
        </ion-textarea>
        <ng-template #defaultLabel>
          <p class="defaultLabel">{{values.data.label+":"}}</p>
        </ng-template>

        <ion-input type="number"
          *ngIf="values.data.defaultName && (values.data.defaultName == 'price' || values.data.defaultName == 'quantity'); else textInput"
          (focusout)="focusOut()" (change)="renderText(true)" (keyup)="detectTyping()" [readonly]="footerData.saving"
          [(ngModel)]="values.data.text" class="text"
          placeholder="{{values.data.defaultName && values.data.defaultName == 'price' ? 'Enter price here': 'Enter quantity here'}}">
        </ion-input>

        <ng-template #textInput>
          <ion-textarea auto-grow="true" (focusin)="showDefaults = true" (focusout)="focusOut()"
            (change)="renderText(true)" (keyup)="detectTyping(); values.data['referenceId'] = null"
            [readonly]="footerData.saving || values.data.defaultName == 'category'" [(ngModel)]="values.data.text"
            class="text" rows="1"
            [placeholder]="values.data.defaultName == 'category' ? 'Choose category': 'Enter text here'">
          </ion-textarea>
        </ng-template>

        <div *ngIf="values.data.defaultName == 'category' && showDefaults" class="optionHolder">
          <div class="options">
            <div class="innerHolder">
              <div *ngIf="!creatingNewCategory" class="option opt2" (click)="creatingNewCategory = true">
                <div  class="createBtn ion-activatable ripple-parent">  
                  <ion-icon name="add-outline"></ion-icon>
                  <p style="color: dodgerblue">Create New Category</p>
                  <ion-ripple-effect></ion-ripple-effect>
                </div>
                <div class="closeCategoryList ion-activatable ripple-parent" (click)="showDefaults = false">
                  <ion-icon name="close-outline"></ion-icon>
                </div>
              </div>
              <div class="createNewCat" *ngIf="!creatingNewCategory">

                <ion-textarea auto-grow="true" (keyup)="filterCategory()" clearOnEdit="true"
                  [(ngModel)]="searchCategory" class="text" rows="1" placeholder="Search category">
                </ion-textarea>

              </div>
              <div class="option" *ngIf="defaults.length == 0 && !creatingNewCategory">
                <p>
                  There's no category called <b>{{searchCategory}}</b> yet.
                </p>
              </div>
      
              <div *ngIf="creatingNewCategory" class="option otherCategory" (click)="clickOut($event);showDefaults = true">
                <div>
                  <div class="creatingCategoryIns">
                    <div>If the category of your page is not the list yet, Enter it below</div>
                    <div class="closeCategoryList ion-activatable ripple-parent" (click)="showDefaults = false">
                      <ion-icon name="close-outline"></ion-icon>
                    </div>
                  </div>
                  <div class="createNewCat">

                    <ion-textarea auto-grow="true" (keyup)="detectTyping(true); filterCategory(true)" (focusin)="creatingNewCategory = true; defaults = categories"  [readonly]="footerData.saving"
                      [(ngModel)]="newCategory" class="text" rows="1" placeholder="Enter new category here">
                    </ion-textarea>
                    <span class="ion-activatable ripple-parent" (click)="createNewCategory()">Done
                      <ion-ripple-effect></ion-ripple-effect>
                    </span>
                  </div>
                </div>
              </div>

              <div>
                
                <div class="option ion-activatable ripple-parent" *ngFor="let option of defaults"
                  (click)="selectOption(option)">
                  <ion-checkbox [checked]="values.data.text && option.name && values.data.text.toLowerCase()  == option.name.toLowerCase()"></ion-checkbox>
                  <p>
                    {{option.name}}
                  </p>
                  <ion-ripple-effect></ion-ripple-effect>
                </div>
               
              </div>

            </div>
          </div>
        </div>
      </div>
      <app-element-footer [data]="footerData" (openDeleteCon)="clickOtherFunction = true" (render)="clickFooterDone()"
        (delete)="delete()"></app-element-footer>
    </div>
  </div>
  <ng-template #display>
    <div class="componentWrapper">
      <app-edit-or-delete-popup *ngIf="creator.clickedComponent == values._id && !creator.preview"
        [isDefault]="values.default" (edit)="edit()" (delete)="delete()" (close)="creator.clickedComponent = null"
        [deleting]="footerData.saving" class="componentPopup"></app-edit-or-delete-popup>
      <app-labelled-text-display (click)="editField()" [parent]="parent" [values]="values">
      </app-labelled-text-display>
    </div>
  </ng-template>
</div>