.renderedText {
    padding:7px;
    margin:4px 12px;
    font-size: 17px;
    color:rgb(100, 100, 100);
    white-space: pre-wrap;
    border-radius: 5px;
    // background-color: rgb(244, 246, 248);
}

