
<ion-content class="page" no-padding>
  <div class="pageBody mainLightBg2">
      <div class="options">
        <p (click)="logOut()">Log out</p>
      </div>
      <div class="titleCont">
        <p>Add Personal Information</p>
      </div>
      <div class="formHolder">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="fieldHolder">
            <div class="inputLabel">First name</div>
            <input class="inputField" formControlName="firstName" name="firstName">
            <ul class="validationError"
              *ngIf="(form.get('firstName').dirty || form.get('firstName').touched) && form.get('firstName').errors != null">
              <li *ngFor="let error of form.get('firstName').errors.validations">
                {{ error.message }}
              </li>
            </ul>
          </div>
          <div class="fieldHolder">
            <div class="inputLabel">Last name</div>
            <input class="inputField" name="lastName" formControlName="lastName">
            <ul class="validationError"
              *ngIf=" (form.get('lastName').dirty || form.get('lastName').touched) && form.get('lastName').errors !=null">
              <li *ngFor="let error of form.get('lastName').errors.validations">
                {{ error.message }}
              </li>
            </ul>
          </div>

          <div class="fieldHolder">
            <div class="inputLabel">Birthday</div>
            <ion-datetime id="birthday" class="inputField inputF" displayFormat="MM/DD/YYYY" min="1950-01-01" formControlName="birthday" name="birthday"></ion-datetime>
            <ul class="validationError"
              *ngIf=" (form.get('birthday').dirty || form.get('birthday').touched) && form.get('birthday').errors !=null">
              <li *ngFor="let error of form.get('birthday').errors.validations">
                {{ error.message }}
              </li>
            </ul>
          </div>

          <div class="fieldHolder">
            <div class="inputLabel">Address</div>
            <input class="inputField" formControlName="address" name="address">
            <ul class="validationError"
              *ngIf="(form.get('address').dirty || form.get('address').touched) && form.get('address').errors != null">
              <li *ngFor="let error of form.get('address').errors.validations">
                {{ error.message }}
              </li>
            </ul>
          </div>

          <div class="fieldHolder">
            <div class="inputLabel">Age</div>
            <input type="number" class="inputField" formControlName="age" name="age">
            <ul class="validationError"
              *ngIf="(form.get('age').dirty || form.get('age').touched) && form.get('age').errors != null">
              <li *ngFor="let error of form.get('age').errors.validations">
                {{ error.message }}
              </li>
            </ul>
          </div>

          <div class="fieldHolder">

            <ion-list class="genderSection">
              <ion-radio-group class="genderSection" formControlName="gender">
                <ion-list-header>
                  <ion-label>Gender</ion-label>
                </ion-list-header>

                <ion-item class="genderSection">
                  <ion-label>Female</ion-label>
                  <ion-radio slot="start" value="Female"></ion-radio>
                </ion-item>
                <ion-item class="genderSection">
                  <ion-label>Male</ion-label>
                  <ion-radio slot="start" value="Male"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
            <ul class="validationError"
              *ngIf="(form.get('gender').dirty || form.get('gender').touched) && form.get('gender').errors != null">
              <li *ngFor="let error of form.get('gender').errors.validations">
                {{ error.message }}
              </li>
            </ul>
          </div>
          
          <div class="submitBtnHolder btnToRight">
            <button class="appBtn ion-activatable ripple-parent" type="submit">Submit
              <ion-ripple-effect></ion-ripple-effect>
            </button>
          </div>
        </form>
      </div>
    </div>
</ion-content>