.options {
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: flex-end !important;

    p {
        padding:5px;
        color:dodgerblue;
        margin: 5px;
    }
    .deleteAccount {
        color:rgb(223, 3, 3) !important;
    }
}
.btnToRight {
     text-align: right !important;
}

.twoInputField{
    display: flex;
}
.inColumn {
    margin-bottom: 0 !important;
}
.genderSection {
    padding:5px;
    border-radius: 5px;
    background-color: #ffff !important;
}

.inputF {
    background-color: white !important;
}



