.inputLabel {
    box-sizing: border-box;
    text-align: left;
    // padding:0 10px;
    margin-top:5px;
    border-radius: 4px !important;
    background: #ffff;
    overflow: hidden;
    font-size: 18px;
    background-color: none;
}
ion-textarea, ion-input, input, textarea {
    border: 1px solid rgb(186, 194, 204) !important;
}
.inputWrapper {
    margin:10px 0;
    padding: 5px 10px 0px 10px;
    background: lightgray;
    border-radius: 4px !important;
    font-size: 14px;
}
.defaultValue {
    height: 44px;
    background-color: #ffff !important;
    font-size: 15px !important;
    padding-left:10px;
}

.otherInfo {
    font-size: 15px;
}

.settings {
    padding:3px;
    margin-top:5px;
    background-color: #ffff;
    justify-content: flex-end;
    border-radius: 4px !important;
    display: flex;
    align-items: center;
    background-color: rgb(191, 200, 207);
}

.options {
    display: flex;
    align-items: center;
    border-radius: 4px !important;
    justify-content: space-between;
} 



.customSetting {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.dateOption {
    padding: 8px 0;
}
.custom {
    background-color: #ffff;
    font-size: 15px;
    width:100%;

    .selected {
        padding: 8px 0;
        width:100%;
        display: flex;
        font-size: 18px !important;
        flex-direction: row;

        div {
            width:100%;
            text-align: center;
            padding-top:10px;
        }
    }

    .selector {
        text-align: center;
        width:100%;

        .select {
            color:rgb(13, 126, 238);
            padding:10px 0;
            font-size: 16px;
            text-align: center;
        }

        .optList {
            background-color: rgb(231, 228, 228);
            text-align: left;
            height: 200px;
            overflow:auto;
            z-index: 99;
            min-width: 100%;
            left:0;
            padding: 8px 0;

            .opt {
                padding: 10px;
                padding-left:8px;
            }
        }
    }
}

.inner {
    flex-direction: row;
    border-radius: 4px !important;
}

.opt2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px !important;
}

.dateInputType {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    p, span {
        margin:0;
        font-weight: bold;
    }
     p {
        color:rgb(43, 60, 78)
     }
    span {
        color:rgb(90, 119, 150)
    }
    border-bottom: 1px solid rgb(185, 198, 211);
    padding: 8px;
    background-color: rgb(216, 225, 231);
}

.inputType2 {
    margin-top: 0 !important;
    margin-bottom: 10px;

    div {
        span {
            font-size: 16px;
        }
    }
}

.optionBtn {
    padding:7px;
    text-align: center;
    color: rgb(13, 124, 235);
    width: 100%;
    font-size: 18px;
}

.optBtn{
    background-color: rgb(216, 225, 231);

    div {
        font-size: 16px;
    }
}

.optionHolder {
    position: fixed;
    left:0;
    overflow: auto;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999999;
    height: 100%;
    background-color: rgba(255, 255, 255, .6);
    top:0;
    .options {
        max-width: 310px;
        // margin-bottom: 30px;
        width:100%;
        display: inline-block;
        border-radius: 4px;
        z-index: 999999;
        background-color: #ffff;
        box-shadow: 0px 2px 5px #505050;
        
        
        .option {
            padding:10px;
            // border-top: .5px solid lightgray;
            
            display: flex;
            font-size: 17px !important;
            align-items: center;
            p {
                margin:8px 5px !important;
            }
            ion-checkbox {
                margin-right: 8px;
            }
        }
    }
}


.optionsLabel{
    font-weight: bold;
    font-size: 18px;
    padding-top: 20px !important;
}
