<div class="modalContainer">
  <div class="closeBtn">
    <ion-icon class="closeIcon" name="close"></ion-icon>
  </div>
  <div class="innerModalContainer">
    <div class="title">
      <h1>Page Validation</h1>
    </div>
    <input type="file" #fileInput (change)="uploadFile($event)" hidden="true" accept="image/*" />
    <label>Business Permit:</label>
    <div (click)="selectImageSource('businessPermit')" [ngStyle]="{'background-image': 'url('+pageDocuments.businessPermit+ ')'}" class="businessPermit ion-activatable ripple-parent">
      <ion-icon  *ngIf="!pageDocuments || (pageDocuments && !pageDocuments.ownerValidId)" class="cameraIcon primColor" name="camera-outline"></ion-icon>
      <p *ngIf="!pageDocuments || (pageDocuments && !pageDocuments.businessPermit)">
        Upload Picture of your business permit
      </p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <label for="">Valid ID:</label>
    <div (click)="selectImageSource('ownerValidId')"  [ngStyle]="{'background-image': 'url('+pageDocuments.ownerValidId+ ')'}" class="businessPermit ion-activatable ripple-parent">
      <ion-icon  *ngIf="!pageDocuments || (pageDocuments && !pageDocuments.ownerValidId)" class="cameraIcon primColor" name="camera-outline"></ion-icon>
      <p *ngIf="!pageDocuments || (pageDocuments && !pageDocuments.ownerValidId)">
        Upload Picture of your valid ID
      </p>
      <ion-ripple-effect></ion-ripple-effect>

    </div>

    <div class="buttonHolder">
      <button class="appBtn dangerBtn" (click)="cancel.emit()">Cancel</button>&nbsp;&nbsp;&nbsp;
      <button class="appBtn primary">Submit</button>
    </div>
  </div>
</div>