<div class="modalContainer">
  <div class="closeBtn"> <ion-icon class="closeIcon" name="close"></ion-icon></div>
  <div class="title">
    <h1>Page Validation</h1>
  </div>

  <label>Business Permit:</label>
  <div class="businessPermit ion-activatable ripple-parent">
    <p>
      Upload Picture of your business permit
    </p>
    <!-- <button class="appBtn">Upload</button> -->
    <ion-ripple-effect></ion-ripple-effect>
  </div>

  <label for="">Valid ID:</label>
  <div class="businessPermit ion-activatable ripple-parent">
    <p>
      Upload Picture of your valid ID
    </p>
    <!-- <button class="appBtn">Upload</button> -->
    <ion-ripple-effect></ion-ripple-effect>
  </div>

  <div class="buttonHolder">
    <button class="appBtn dangerBtn">Cancel</button>&nbsp;&nbsp;&nbsp;
    <button class="appBtn primary">Submit</button>
  </div>
</div>