.modalContainer {
    position:fixed;
    z-index: 99999999;
    background: rgb(0, 0, 0, .5);
    padding: 30px;
    width: 100%;
    padding-top:40px;
    overflow: auto;
    box-sizing: border-box;
    height: 100%;

    .innerModalContainer {
        background-color: white;
        padding: 10px;
    }

    .closeBtn {
        position: relative;
        text-align: right;
        background-color: red;

        .closeIcon {
            position: absolute;
            font-size: 30px;
            top:-20px;
            color:rgb(84, 104, 124);
        }
    }

    .title {
        text-align: center;
        margin-top: 0 !important;
    }

    label {
        font-size: 18px;
        color: rgb(115, 126, 139);
        font-weight: bold;
    }

    .businessPermit {
        height: 150px;
        margin: 5px 0 30px;
        padding: 10px;
        background-color: rgb(246, 249, 252);
        border-radius: 3px;
        border: 1px dashed rgb(190, 202, 212);
        flex-direction: column;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        
        p {
            color:rgb(11, 127, 243);
            font-size: 19px;
        }
    }

    .buttonHolder {
        text-align: right;
        color: white;
    }
}

