<div>
  <div class="page">
    <div *ngIf="booking.isManual; else notManual" class="manuallyBooked">
      On-site Reservation
    </div>
    <ng-template #notManual>
      <div class="cardPhotoHolder bordered">
        <div class="cardPhoto" *ngIf="photo"  [ngStyle]="{'background-image': 'url('+photo+')' }">
        </div>

        <div *ngIf="!photo" class="cardPhoto">
          <div class="noPhoto">
            <ion-icon name="person-outline"></ion-icon>
          </div>
        </div>
      </div>
      <div class="pageInfo">
        <div class="pageName">{{booking.tourist.fullName}}</div>
        <div class="address">{{touristAddress }}</div>
        <div class="address contactInfo">{{booking.tourist.email}}</div>
        <div class="address contactInfo">{{booking.tourist.contactNumber}}</div>
      </div>
    </ng-template>
  </div>

  <div *ngIf="booking.selectedServices.length > 0" class="selectedServices mainLightBg2">
    <div class="sectionTitle title">
      <div class="textHolder">

        <ion-icon name="briefcase-outline"></ion-icon>
        <span>Selected Products/Services</span>
        </div>
      </div>
    <app-selected-service-card [editable]="false" *ngFor="let item of booking.selectedServices" [item]="item">
    </app-selected-service-card>
  </div>
  <div class="inputValueDisplay">
    <div class="bookingInfoText">
      <div class="textHolder th2 th3">

        <ion-icon name="person-outline"></ion-icon>
        <span>

          Booking Information
        </span>
      </div>
    </div>
    <app-booking-info-display [inputValues]="booking.bookingInfo"></app-booking-info-display>
  </div>
</div>