<div class="textInputHolder" [class.inputHasError]="hasError">
  <div *ngIf="!creator.preview" class="overlay">
  </div>
  <div class="label">{{values.data.label}}</div>
  <div class="ripple ion-activatable ripple-parent">
    <ion-datetime displayFormat="DDDD MMM D, YYYY" (ionChange)="passData()" [yearValues]="years" [monthValues]="months"
      [(ngModel)]="date" [pickerOptions]="customPickerOptions" [dayValues]="days" class="inputField">
    </ion-datetime>
    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
  </div>
  <p class="instructions">{{values.data.instructions}}</p>
  <div class="inputErrorMessage">{{errorMessage}}</div>
</div>