<div class="textInputHolder">
  <div *ngIf="!creator.preview" class="overlay">
  </div>
  <div>{{values.data.label}}</div>
  <div class="ripple ion-activatable ripple-parent">
    <ion-datetime [class.hasError]="hasError" displayFormat="DDDD MMM D, YYYY" (ionChange)="passData()" [yearValues]="years" [monthValues]="months" [(ngModel)]="date"
      [pickerOptions]="customPickerOptions" [dayValues]="days" class="inputField">
    </ion-datetime>
    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
  </div>
  <p class="instructions">{{values.data.instructions}}</p>
</div>