<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Reset password</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content style="background-color: white">
  <div class="pageBody mainLightBg2">
    <div class="options">
      <p (click)="logOut()">Log out</p>
    </div>
    <div class="titleCont">
      <p>Change Password</p>
    </div>
    <div class="formHolder">
      <div>

        <h3>{{fullName}}</h3>


      </div>
      <div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <p class="instruction" *ngIf="reUseOldPassword">
            Retype the password to continue using it.
          </p>
          <div class="fieldHolder">
            <div class="inputLabel"><span *ngIf="!reUseOldPassword; else newpass">New password</span>
              <ng-template #newpass>Password</ng-template>
            </div>
            <input class="inputField" type="password" formControlName="password">
            <ul class="validationError"
            *ngIf="(form.get('password').dirty || form.get('password').touched) && form.get('password').errors != null">
            <li *ngFor="let error of form.get('password').errors.validations">
              {{ error.message }}
            </li>
          </ul>
        </div>
          <div class="fieldHolder" *ngIf="!reUseOldPassword">
            <div class="inputLabel">Confirm password</div>
            <input class="inputField" type="password" (keyup)="checkPasswordConfirmation()" formControlName="confirmPassword">
            <ul class="validationError"
            *ngIf="(form.get('confirmPassword').dirty || form.get('confirmPassword').touched) && form.get('confirmPassword').errors != null">
            <li *ngFor="let error of form.get('confirmPassword').errors.validations">
              {{ error.message }}
            </li>
          </ul>
        </div>
          <div class="fieldHolder btnToRight">
            
            <button class="appBtn dangerBtn" *ngIf="reUseOldPassword" (click)="notReUse()">Cancel
            </button>
            &nbsp;
            <button class="appBtn" [disabled]="!form.valid" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</ion-content>