.valErr {
  color: red;
  font-size: 0.8rem;
}

ion-label {
  color: dodgerblue !important;
}

.options {
  width:100%;
  background-color: rgb(228, 235, 241);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  p {
      padding:5px;
      color:dodgerblue;
      margin: 5px;
  }
  .deleteAccount {
      color:rgb(223, 3, 3) !important;
  }
}


.instruction {
  color: lightslategrey;
}
.pageBody2 {
  overflow: scroll !important;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}