.searchWrapper {
    padding:8px;
    padding-bottom: 0;
    position: relative;
    .close {
        position: absolute;
        right:0;
        margin-right: 8px;
    }

    ion-icon{
        font-size: 25px;
        padding:5px;
        color: lightsteelblue;
    }

    .search {
        left:0;
        margin-left:8px;
        position: absolute;
    }
    input {
        border:none;
        // border:.8px solid lightsteelblue;
        border-radius: 4px;
        padding: 9px;
        padding-left:35px;
        padding-right: 35px;
        width:100%;
    }


}