<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="page" style="background-color: white" no-padding>
  <div class="pageBody2 mainLightBg2">

    <div *ngIf="selectingAccountType" class="selectType">
      <div class="createAccountAs">

        <div class="userIcon">
          <div class="logo" [ngStyle]="{'background-image': 'url('+appLogo + ')'}"></div>
          <div class="user">
            <ion-icon name="person-outline"></ion-icon>
          </div>
        </div>
      </div>
      <div class="shadow"></div>
      <!-- <div class="shadow shadow1"></div> -->
      <div class="accTypeHolder">
        <h4 class="createAcc">Create an account as:</h4>
        <div (click)="setAccountType(accountType.tourist)" class="accType ion-activatable ripple-parent">
          <p class="accTypeName boxShadowed2">
            {{accountType.tourist}}
          </p>
          <p class="accTypeText">Searching for a nice place</p>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div (click)="setAccountType(accountType.provider)" class="accType ion-activatable ripple-parent">
          <p class="accTypeName boxShadowed2">
            {{accountType.provider}}
          </p>
          <p class="accTypeText">Tourist spot operator, hotel or travel service provider.
            spot.</p>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    </div>
    <div (click)="change()" class="selectedType ion-activatable ripple-parent boxShadowed2">
      <p class="creatingAccAs">Creating an account as:</p>
      <p class="selectedTypeText">
        {{form.get('accountType').value}}
      </p>
      <div class="changeType">
        <ion-icon name="refresh-outline"></ion-icon>&nbsp;Change
      </div>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div class="formHolder">
      <div class="contents">

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="fieldHolder" [class.hasErrors]="form.get('email').errors != null && form.get('email').touched">
            <div class="inputLabel">Email</div>
            <input class="inputField" autocomplete="off" name="email" formControlName="email">
            <ul class="validationError"
              *ngIf="(form.get('email').dirty || form.get('email').touched) && form.get('email').errors != null">
              <li *ngFor="let error of form.get('email').errors.validations">
                {{ error.type =="required" || error.type == "availability"?
                error.message : 'Invalid Email' }}
              </li>
            </ul>
          </div>

          <div class="fieldHolder"
            [class.hasErrors]="form.get('contactNumber').errors != null && form.get('contactNumber').touched">
            <div class="inputLabel">Contact number
              <!-- <span>&nbsp;+63</span> -->
            </div>
            <input class="inputField" type="number" autocomplete="off"
              (change)="completeNumber(form.get('contactNumber').value)" name="contactNumber" [value]="number"
              formControlName="contactNumber">
            <ul class="validationError"
              *ngIf="(form.get('contactNumber').dirty || form.get('contactNumber').touched) && form.get('contactNumber').errors != null">
              <li *ngFor="let error of form.get('contactNumber').errors.validations">
                {{ error.type == 'required' || error.type == 'availability' ? error.type == 'availability'? 'This number
                is already taken': error.message : 'Invalid number' }}
              </li>
            </ul>
          </div>
          <div class="fieldHolder"
            [class.hasErrors]="form.get('password').errors != null && form.get('password').touched">
            <div class="inputLabel">Password</div>
            <input class="inputField" name="password" type="password" autocomplete="off" formControlName="password">
            <ul class="validationError"
              *ngIf="(form.get('password').dirty || form.get('password').touched) && form.get('password').errors != null">
              <li *ngFor="let error of form.get('password').errors.validations">
                {{ error.message }}
              </li>
            </ul>
          </div>
          <div class="fieldHolder"
            [class.hasErrors]="form.get('confirmPassword').errors != null && form.get('confirmPassword').touched">
            <div class="inputLabel">Confirm password</div>
            <input class="inputField" type="password" name="confirmPassword" (change)="checkPasswordConfirmation()"
              formControlName="confirmPassword">
            <ul class="validationError"
              *ngIf="(form.get('confirmPassword').dirty || form.get('confirmPassword').touched) && form.get('confirmPassword').errors != null">
              <li *ngFor="let error of form.get('confirmPassword').errors.validations">
                {{ error.message }}
              </li>
            </ul>
          </div>
          <div class="submitBtnHolder">
            <button type="submit" class="submitBtn ion-activatable ripple-parent" type="submit">Register
              <ion-ripple-effect></ion-ripple-effect>
            </button>
          </div>
          <div class="forgotPassHolder">
            <p class="textBtn" routerLink="/login">
              Already have an account? Login
            </p>
          </div>
        </form>
      </div>

    </div>

  </div>

</ion-content>