.searchHeader {
    padding:10px 0;
    display: flex;
    align-items:center;
    // background-color: rgb(216, 229, 245);
    background-color: white;
    justify-content: stretch;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 9999999;
    padding-right: 5px;
    .back {
        font-size: 22px;
        padding:8px 10px;
        margin:0 5px;
        color:rgb(62, 72, 83);
    }
    .searchInputHolder {
        display: flex;
        flex-grow: 1;
        align-items: center;
        .searchInput {
            font-size: 16px;
            width: 100% !important;
            display:block !important;
            box-sizing: border-box;
            padding:10px;
            // border: 1px solid rgb(79, 92, 109);
            background-color:rgb(231, 236, 243);
            border: none;
            border-radius: 5px;
        }
        .searchIcon {
            font-size: 25px;
            border:none;
            margin:0 5px;
            padding:5px 9px;
            border-radius: 4px;
            background-color: rgb(231, 236, 243);
            // background-color: lightsteelblue;
            color:rgb(62, 72, 83);
        }
    }
}
  

.searchResults {
    padding:10px;
}

.container {
    background-color: rgb(236, 241, 247);
    height: 100%;
    padding-top: 63px;
}

.loading {
    margin:10px;
}

.noResults {
    padding:20px;

    .noPagesFound {
        font-size: 23px;
        color:rgb(66, 82, 99);
    }

    .subText {
        font-size: 14px;
        color:rgb(124, 142, 161);
    }
}

.searchPic {
    display: flex;
    padding:10px;
    margin:20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .5);
}
.searchText {
    color:rgb(113, 137, 160);
}

.searchAccLogos{//rgb(5, 92, 179),rgb(6, 174, 235)
    padding:20px;
    // width:200px;
    flex-shrink: 0;
    // height: 200px;
    // border-radius: 50%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // background-color: white;
    .userIcon {
      margin: auto;
      position: relative;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      border-radius: 50%;
      background-color: rgb(176, 204, 243);
      ion-icon {
        color: white;
        font-size: 40px;
      }
  
      .searchIcon {
        position: absolute;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(5, 92, 179);
        border-radius: 50%;
        border:3px solid rgb(244, 246, 248);
        bottom:-10px;
        right:-10px;
        height: 50px;
        ion-icon {
          font-size: 30px;
          color: white;
        }
      }
    }
  }