.serviceContainer {
    // padding:10px;
    // height: 200px;
    box-sizing: border-box;
    overflow: visible;
    // margin:20px;
    margin-top: 10px;
    background:#ffff;
    padding:10px;
    width:300px;
    max-width: 300px;
    border-radius: 4px !important;
    overflow: visible;
} 

.serviceFooter {
    height: 40px;
}

.addComp {
    border-radius: 4px;
    padding:10px;
    background: rgba(129, 133, 136, 0.2);
    color: rgb(4, 106, 209);
    text-align: center;
}

.wrapper {
    border-radius: 4px !important;
    overflow: visible;
}