<div class="notifCard ion-activatable ripple-parent" [class.unread]="!notif.opened" (click)="viewNotification()">

  <div class="notifPicHolder" [class.unreadsPic]="!notif.opened">
    <div class="notifPic">
      <ion-icon name="notifications-outline" *ngIf="!notif['isMessage']"></ion-icon>
      <ion-icon *ngIf="notif['isMessage']" name="mail-outline"></ion-icon>
    </div>
  </div>

  <div class="notifInfo">
    <div class="notifTitle" [innerHtml]="notif.message">
    </div>
    <div class="notifDate">{{notif.createdAt | date:'short'}}</div>
  </div>
  <div class="options">
    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
  </div>
  <ion-ripple-effect></ion-ripple-effect>
</div>