<ion-header class="headerCustom">
  <ion-toolbar  class="headerCustom">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Find Your Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: white" class="page" no-padding>
  <div class="pageBody pageBody2">
    <!-- <div class="titleCont">
      <p>Find Account</p>
    </div> -->
    <!-- <h1>Find Account</h1> -->
    <div class="searchAccLogos">
      <div class="userIcon">
        <ion-icon name="person-outline"></ion-icon>
        <div class="searchIcon">
          <ion-icon name="search-outline"></ion-icon>
        </div>
      </div>
      
    </div>
    <div class="formCard">
      <!-- <div class="header2 whiteBG"></div> -->
      
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="fieldHolder" [class.hasErrors]="form.get('credential').errors != null && form.get('credential').touched">
          
          <div class="inputLabel">Email | Phone number</div>
          <input class="inputField" name="credential" (keyup)="checkCred()" autocomplete="off" formControlName="credential">
          <ul class="validationError"
            *ngIf="(form.get('credential').dirty || form.get('credential').touched) && form.get('credential').errors != null">
            <li *ngFor="let error of form.get('credential').errors.validations">
              {{ error.message }}
            </li>
          </ul>
          <div class="submitBtnHolder btnToRight btn">
            <button class="appBtn noMargin" [disabled]="!form.get('credential').value" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>