@import "../../../variables.scss";
.valErr {
  color: red;
  font-size: 0.8rem;
}

ion-label {
  color: "dodgerblue" !important;
}

.backIcon {
  margin-left: 5px !important;
  font-size: 23px;
}

.btn {
  margin:10px 0 !important;
}

.formCard {
  max-width: 300px;
  padding:10px 20px;
  background-color: #ffff;
  position: relative;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin-top:20px;

  .header {
    background-image: $gradient;
    padding:5px;
    position: absolute;
    left:0;
    top:0;
    right:0;
  }
}