<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Find Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: white" class="page" no-padding>
  <div class="pageBody mainLightBg2">
    <!-- <div class="titleCont">
      <p>Find Account</p>
    </div> -->
    <div class="formCard boxShadowed2">
      <div class="header"></div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="fieldHolder">
          
          <div class="inputLabel">Email | Phone number</div>
          <input class="inputField" name="credential" (keyup)="checkCred()" formControlName="credential">
          <ul class="validationError"
            *ngIf="(form.get('credential').dirty || form.get('credential').touched) && form.get('credential').errors != null">
            <li *ngFor="let error of form.get('credential').errors.validations">
              {{ error.message }}
            </li>
          </ul>
          <div class="submitBtnHolder btnToRight btn">
            <button class="appBtn noMargin" [disabled]="!form.get('credential').value" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>