<div>
  <div class="modalWrapper">
    <div class="listWrapper">
      <div class="listInnerWrapper">

        <div class="itemWrapper" (click)="addComponent('text-input')">
          <div class="itemTitle">Add Text Input</div>
          <ion-icon name="text-outline"></ion-icon>
        </div>

        <div class="itemWrapper" (click)="addComponent('number-input')">  
          <div class="itemTitle">Add Number Input</div>
          <ion-icon name="keypad-outline"></ion-icon>
        </div>

        <div [class.hidden]="isInItemList" class="itemWrapper" (click)="addComponent('date-input')">
          <div class="itemTitle">Add Date Input</div>
          <ion-icon name="calendar-outline"></ion-icon>
        </div>


        <div class="itemWrapper" (click)="addComponent('choices-input')">
          <div class="itemTitle">Add Choice Input</div>
          <ion-icon name="list-outline"></ion-icon>
        </div>
      </div>
    </div>
    <div class="modalFooter">
      <div class="closeModal" (click)="dismiss()">Cancel</div>
    </div>
  </div>
</div>