.wrapper {
    margin:10px 0;
    padding: 5px 10px 0px 10px;
    background: lightgray;
}
.inputLabel {
    box-sizing: border-box;
    text-align: left;
    // padding:0 10px;
    margin-top:5px;
    background: #ffff;
    font-size: 18px;
    background-color: none;
}

.settings {
    padding:3px;
    margin-top:5px;
    background-color: #ffff;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    background-color: rgb(199, 199, 199);
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.otherInfo {
    font-size: 15px;
    padding:2px 10px;
}
.noChoice {
    padding:10px !important;
    background-color: none !important;
    text-align: center !important;
}

.choices {

    div {
        // background-color: rgb(236, 236, 236);
        margin:8px 0;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        border-bottom: 1px solid rgb(240, 243, 248);

        .choiceText {
            width: 100%;
            margin:0;
            height: 100%;
            background-color: transparent !important;
            padding:8px;
        }

        .removeChoice {
            // background-color: rgb(245, 178, 178);
            margin:0;
            height: 100%;
            // display: flex;
            border-bottom: none;
            // justify-content: center;
            // align-items: center;
            padding:0;

            .popupIcon {
                // vertical-align: middle;
                // height: 100%;
                margin:8px;
                padding:0;
                font-size: 20px !important;
            }
        }

    }
}





.inputChoice {
    padding: 8px;
    margin-top:10px;
    text-align: left;
    background-color: rgb(174, 187, 202);
}

.addChoice {
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    
    button {
        padding:10px 15px;
        background-color: rgb(8, 121, 235);
        color: #ffff;
        border-radius: 4px;
        margin:10px 0;
        margin-bottom: 0;
    }
}

.deleting {
    background-color: rgb(245, 178, 178) !important;
}
.disabledBtn {
    opacity: .5;
}

.adding {
    background-color: rgb(200, 226, 248) !important;
}