<ion-header>
  <ion-toolbar>
    <ion-title>Forgot password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/find-account" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content style="background-color: white" text-center>
  <div class="container mainLightBg">
    <ion-card>
      <ion-card-header>
        <h5 class="userName">{{ fullName }}</h5>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <h4>Send a code to</h4>
        </ion-item>
        <ion-item>
          <h1>{{ useContactNumber? contactNumber: email }}</h1>
        </ion-item>
        <!-- <ion-item style="color: dodgerblue; font-size: 12px" (click)="showNote()">
          Use {{ !useContactNumber? 'contact number': 'email' }} instead
          <span slot="end">{{ useContactNumber? email: contactNumber }}</span>
        </ion-item> -->
        <ion-item>
          <h3 (click)="loginUsingPass()">Use password to log in</h3>
        </ion-item>
        <div class="btnHolder">
          <button class="appBtn noMargin ion-activatable ripple-parent" (click)="sendCode()">{{!pendingCode ? 'Send code': 'Send another code'}}
            <ion-ripple-effect></ion-ripple-effect>
          </button>
        </div>
      </ion-card-content>
    </ion-card>

    <app-code-handler (expiredAllCode)="onExpiredAllCode($event)" (submitCode)="onSubmitCode($event)">
    </app-code-handler>
  </div>
</ion-content>