 .valErr {
  color: red;
  font-size: 0.8rem;
}

ion-label {
  color: dodgerblue !important;
}

.backIcon {
  margin-left: 5px !important;
  font-size: 23px;
}

.container {
  height: 100%;
  overflow:auto;
}

.btnHolder {
  padding:5px 0;
  text-align: right;
}

.userName {
  margin-bottom: 0;
}