<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event, info, services, tab)">
    <div class="creator mainLightBg2">
        <div #info>
            <ng-template #pageElement></ng-template>
            <br />
            <div *ngIf="!creator.preview" class="addInfo">
                <h6>Add other information.</h6>
                <p>Click <b>Add Information</b> to select component that you can use to present other information about the
                    tourist spot.</p>
                <div class="addComponentBtn ion-activatable ripple-parent" (click)="showComponentList()">Add Information
                    <ion-ripple-effect></ion-ripple-effect>
                </div>
            </div>
        </div>
        <br />
        <div #services class="servicesSection">
            <div class="divider">
                <h4>Products And Services</h4>
                <!-- <p>Services or facilities, ex. rooms, catages</p> -->
            </div>
            <ng-template #pageService></ng-template>

            <div *ngIf="!creator.preview" class="addInfo">
                <h6>Add services or something you offer.</h6>
                <p>Click <b>Add Products And Services</b> to add another list of products or services that are you offer.</p>
                <div class="addComponentBtn services ion-activatable ripple-parent"
                    (click)="showServicesComponentList()">
                    Add Products And Services
                    <ion-ripple-effect></ion-ripple-effect>
                </div>

            </div>
        </div>
        <div #booking class="servicesSection bookingInfoSection">
            <div class="innerHolder">

                <div class="divider">
                    <h4>{{preview? "Book Now!" : "Booking Form"}}</h4>
                </div>
                <ng-template #pageInputField></ng-template>
                <div *ngIf="!creator.preview" class="addInfo">
                    <h6>Add needed informations for booking.</h6>
                    <p>Click <b>Add Input Field</b> to select input fields that you can use to ask tourists some information
                        that
                        they
                        need to provide to make an arrangement.</p>
                    <div class="addComponentBtn bookingBtn ion-activatable ripple-parent"
                        (click)="showInputFieldList()">
                        Add Input Field
                        <ion-ripple-effect></ion-ripple-effect>
                    </div>
                </div>

            </div>
        </div>
        
        <div class="btnHolder bookSectionCont" *ngIf="page && page.status == 'Unfinished'; else submitted">
            <div (click)="submit()" class="submitPage bookSection ion-activatable ripple-parent">
                Submit Page
                <ion-ripple-effect></ion-ripple-effect>
            </div>
            <div class="pageIns">
                This page will be visible online once approved by the ExploreHub Admin
            </div>
        </div>
        <ng-template #submitted>
            <div class="submitted">

                <div [ngClass]="getStatus()">
                    <b>Status:</b>{{page.status}}
                </div>
            </div>
        </ng-template>
        <div class="menu">
            <div class="exit ion-activatable ripple-parent" (click)="exit()">
                <ion-icon class="icons" name="chevron-back-outline"></ion-icon>&nbsp;Back
                <ion-ripple-effect></ion-ripple-effect>
            </div>
            <p class="pageTitle">
                {{creator.pageType == 'service'? 'Service Page': 'Tourist Spot Page'}}
            </p>
            <div class="preview" *ngIf="loading; else doneLoading">
                <ion-spinner color="white" name="lines-small"></ion-spinner>
                <div class="saving">Loading</div>
            </div>
            <ng-template #doneLoading>
                <div *ngIf="creator.preview" class="preview ion-activatable ripple-parent"
                    (click)="creator.preview = !creator.preview">
                    <ion-icon class="icons" name="create-outline"></ion-icon>&nbsp;Edit
                    <ion-ripple-effect></ion-ripple-effect>
                </div>
                <div *ngIf="!creator.preview" class="preview ion-activatable ripple-parent" (click)="previewPage()">
                    <ion-icon class="icons" name="eye-outline"></ion-icon>&nbsp;Preview
                    <ion-ripple-effect></ion-ripple-effect>
                </div>
            </ng-template>
        </div>

        <div class="tabs">
            <div class="tab" [ngClass]="{dark: active == 'info'}" (click)="goToSection(info,'info', tab)">
                Info
            </div>
            <div class="tab" style="font-size: 12px;" [class.dark]="active == 'services'" #tab (click)="goToSection(services, 'services', tab)">
                Products/Services
            </div>
            <div class="tab" [class.dark]="active == 'booking'"(click)="goToSection(booking, 'booking', tab)">
                Booking
            </div>
        </div>

        <div class="boxHolder">
            <div class="boxes">
                <div #box class="box  ion-activatable ripple-parent" [ngStyle]="{'left.px': boxPosition}">
                    <div class="active"></div>
                    <ion-ripple-effect></ion-ripple-effect>

                </div>
            </div>
            <div class="boxes">

            </div>
            <div class="boxes"></div>
        </div>

        <div class="csmodal" *ngIf="showUnfilled">

            <div class="errHeader">
                <span>Please fill up or finish the following field(s)</span>
                <ion-icon name="close-outline" class="closeErr" (click)="showUnfilled = false"></ion-icon>
            </div>
            <div class="modalCont">
                <div class="holder" *ngIf="unfilledFields.components.length > 0">
                    <b>
                        Info
                    </b>
                    <div class="fieldHolder">
                        <div class="field" *ngFor="let type of unfilledFields.components">{{type}}</div>
                    </div>
                </div>
                <div class="holder" *ngIf="unfilledFields.services.length > 0">
                    <b>
                        Services
                    </b>
                    <div class="fieldHolder">
                        <div class="field" *ngFor="let type of unfilledFields.services">{{type}}</div>
                    </div>
                </div>
                <div class="holder" *ngIf="unfilledFields.bookingInfo.length > 0">
                    <b>
                        Booking
                    </b>
                    <div class="fieldHolder">
                        <div class="field" *ngFor="let type of unfilledFields.bookingInfo">{{type}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-confirm-popup [popupData]="popupData"  (clicked)="clicked($event)"></app-confirm-popup>
</ion-content>