<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="!formDashboard; else backBtn">
      <ion-menu-button content-id="main-content"></ion-menu-button>
    </ion-buttons>

    <ng-template #backBtn>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/service-provider/online-pages-list" icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
    </ng-template>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="empty" *ngIf="notifications.length == 0 && !loading">
    <div class="iholder">
      <ion-icon name="folder-open-outline"></ion-icon>
    </div>
    <p>There's nothing here.</p>
  </div>
  <div class="cont lightBackground">
    <div class="notifGroup" *ngFor="let notif of notifications">
      <div class="notifHeader">
        <div class="title">{{getTitle(notif)}}</div>
        <div class="numberOfNotif">{{notif.notifications.length}}</div>
      </div>
      <app-notification-card *ngFor="let ntf of notif.notifications.reverse()" [notificationGroup]="notif" [notif]="ntf"></app-notification-card>
    </div>
  </div>
</ion-content>
