<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="!formDashboard; else backBtn">
      <ion-menu-button content-id="main-content"></ion-menu-button>
    </ion-buttons>

    <ng-template #backBtn>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/service-provider/online-pages-list" icon="chevron-back-outline">
        </ion-back-button>
      </ion-buttons>
    </ng-template>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="empty" *ngIf="notifications.length == 0 && !loading">
    <div class="iholder">
      <ion-icon name="folder-open-outline"></ion-icon>
    </div>
    <p>There's nothing here.</p>
  </div>
  <div class="cont lightBackground">
    <div *ngFor="let notif of notifications">
      <div class="notifGroup" *ngIf="notif.notifications.length > 0">

        <div class="notifHeader">
          <div class="texts">

            <div class="title">{{getTitle(notif)}}</div>
            <div *ngIf="getTotalUnread(notif) > 0" class="numberOfNotif">{{getTotalUnread(notif)}}</div>
          </div>
          <div class="options groupOption ion-activatable ripple-parent" (click)="displayOption(notif._id)">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </div>
        <div *ngFor="let ntf of notif.notifications; let i = index">

          <app-notification-card *ngIf="hideOther || 3 > i" (displayOption)="displayOption($event)" [notificationGroup]="notif"
            [notif]="ntf"></app-notification-card>
        </div>
        <div class="otherNotifications ion-activatable ripple-parent" (click)="hideOther = !hideOther" *ngIf="notif.notifications.length - 3 > 0">
          <ion-icon name="chevron-down-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
          Show other&nbsp;{{notif.notifications.length - 3}}&nbsp;notification{{notif.notifications.length - 3 > 1? "s": ""}}</div>
      </div>
    </div>
  </div>
  <app-option-popup [show]="showOption" (clickOpt)="clickOpt($event)"></app-option-popup>
</ion-content>