.inputWrapper {
    margin:10px 0;
    padding: 5px 10px 0px 10px;
    border-radius: 4px !important;
    font-size: 14px;
}

.inputLabel {
    box-sizing: border-box;
    text-align: left;
    // padding:0 10px;
    margin-top:5px;
    // background-color: rgb(199, 199, 199);
    background: #ffff;
    font-size: 18px;
    background-color: none;
}

.ion-item {
    background-color: transparent !important;
}


.otherInfo {
    font-size: 15px;
}

.off {
    color: gray !important;
}

.options {
    display: flex;
    align-items: center;

    ion-toggle {
        margin-left:10px;
    }
}

.required {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    margin:5px 0;
    padding:5px;
    border-radius: 4px !important;
    background-color: rgb(191, 200, 207);
}