<!-- <ion-header>
  <ion-toolbar>
    <ion-title>{{bookingStatus}}</ion-title>
  </ion-toolbar>
</ion-header> -->
<div>

  <div class="empty" *ngIf="allBooking.length == 0 && !loading">
    <div class="iholder">
      <ion-icon name="folder-open-outline"></ion-icon>
    </div>
    <p>There's nothing here.</p>
  </div>
  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  <app-search-bar (search)="search($event)" [placeHolder]="'Search for tourist or item'" *ngIf="!loading && allBooking.length > 5"></app-search-bar>
  <div class="noResultsFor" *ngIf="searchText && bookings.length == 0">No results for "{{searchText}}"</div>
  <app-booking-card (view)="viewBooking($event)" [hideOption]="true" [forDashboard]="true" *ngFor="let booking of bookings"
    [booking]="booking"></app-booking-card>

</div>