<!-- <ion-header [translucent]="false">
  <ion-toolbar>
      <ion-title class="header">My Account</ion-title>
      <ion-icon slot="start" name="arrow-back-outline" id="account-back-btn" (click)="back()"></ion-icon>
  </ion-toolbar>
</ion-header> -->
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" *ngIf="!formDashboard; else backBtn">
        <ion-menu-button content-id="main-content"></ion-menu-button>
      </ion-buttons>
  
      <ng-template #backBtn>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/service-provider/online-pages-list" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
      </ng-template>
      <ion-title>My Account</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="container">
      <div class="profile-container">
          <div class="profile">
              <div id="additional-div">
                      <p>
                          Edit
                        </p>
                      <ion-icon (click)="editAccountInfo()" name="create-outline"></ion-icon>
              </div>
              <div class="profile-pic-container">
                  <div id="profile-pic">
                    <div *ngIf="profile" class="pic" [ngStyle]="{'background-image': 'url('+api+profile+')' }">
                    </div>
                    <div *ngIf="!profile" class="pic">
                        <ion-icon name="person-outline"></ion-icon>
                    </div>
                  </div>
                    <!-- <img id="profile-pic" [src]="'http://localhost:3000/' + profile"> -->
              </div>
              <div class="profile-pic-container" ></div>
              <h3 class="fullname" style="text-transform: capitalize;"><b>{{firstname}} {{middlename}} {{lastname}}</b></h3>
              <div class="contact-info-container">
                  <p class="email">{{email}}</p>
                  <p>{{phone}}</p>
              </div>
              <br>
              <div class="additional-info">
                  <ion-row>
                      <ion-col size="4">
                          <label class="infoLabel" for="address"><b>Address:</b></label>
                      </ion-col>
                      <ion-col>
                          <label for="address-val" class="infoText" style="text-transform: capitalize;">{{completeAddress}}</label>
                      </ion-col>
                  </ion-row>

                  <!-- <ion-row>
                    <ion-col size="4">
                        <label for="address2"><b>Address 2:</b></label>
                    </ion-col>
                    <ion-col>
                        <label for="address-val2" style="text-transform: capitalize;">{{address2}}</label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">
                        <label for="address"><b>City:</b></label>
                    </ion-col>
                    <ion-col>
                        <label for="address-val" style="text-transform: capitalize;">{{city}}</label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">
                        <label for="address"><b>State/Province:</b></label>
                    </ion-col>
                    <ion-col>
                        <label for="address-val" style="text-transform: capitalize;">{{stateOrProvince}}</label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">
                        <label for="address"><b>Country:</b></label>
                    </ion-col>
                    <ion-col>
                        <label for="address-val" style="text-transform: capitalize;">{{country}}</label>
                    </ion-col>
                </ion-row> -->

                  <ion-row>
                      <ion-col size="4">
                          <label class="infoLabel" for="gender"><b>Gender:</b></label>
                      </ion-col>
                      <ion-col>
                          <label for="gender-val" class="infoText">{{gender}}</label>
                      </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col size="4">
                          <label class="infoLabel"  for="gender"><b>Birthday:</b></label>
                      </ion-col>
                      <ion-col>
                          <label for="gender-val" class="infoText">{{birthday | date:'longDate'}}</label>
                      </ion-col>
                  </ion-row>
              </div>
              <div class="btnStyle editAccountInfo" (click)="editAccountInfo()">
                Edit Account Info
                <ion-ripple-effect></ion-ripple-effect>
              </div>
              <div class="btnStyle" (click)="goTo()">
                Change password
                <ion-ripple-effect></ion-ripple-effect>
              </div>
          </div>
      </div>
  </div>
</ion-content>