<ion-content style="background-color: white" text-center>
  <div class="pageBody mainLightBg2 pageCont">
    <div class="options">
      <p (click)="deleteAccont()" class="deleteAccount">Delete Account</p>
      <p (click)="logOut()">Log out</p>
    </div>
    <div class="titleCont">
      <p>Account Verification</p>
    </div>
    <ion-card class="infoCard">
      <ion-card-content>
        <ion-item>
          <h4>We have sent a code to</h4>
        </ion-item>
        <ion-item>
          <h1>{{ contactNumber }}</h1>
        </ion-item>
        <div>
          <button class="appBtn" (click)="sendCode()">Send another code</button>
        </div>
      </ion-card-content>
    </ion-card>

    <app-code-handler [atVerification]="true" (expiredAllCode)="onExpiredAllCode($event)" (submitCode)="onSubmitCode($event)">
    </app-code-handler>
  </div>
</ion-content>