<ion-content>
  <div [class.noHeader]="booking.isManual" class="container mainLightBg2 pageContent" *ngIf="!showPaypal">
    <div class="headerHolder">
      <div class="header topHead">
        <div (click)="goBack()" class="backBtn">
          <ion-icon class="back" name="chevron-back-outline"></ion-icon>Back
        </div>
        <div class="optionsTop">
          <div *ngIf="bookingStatus =='Rejected' || bookingStatus == 'Cancelled'" (click)="editBooking()" class="cancel ion-activatable ripple-parent edit">Edit&nbsp;
            <ion-ripple-effect></ion-ripple-effect>
            <ion-icon name="create-outline"></ion-icon>
          </div>
          <div *ngIf="bookingStatus =='Rejected' || bookingStatus == 'Cancelled' || bookingStatus == 'Closed' || bookingStatus == 'Unfinished'" (click)="delete()" class="cancel ion-activatable ripple-parent">Delete
            <ion-ripple-effect></ion-ripple-effect>
            <ion-icon name="trash-outline"></ion-icon>
          </div>
          <div *ngIf="bookingStatus == 'Cancelled' || bookingStatus == 'Rejected'" (click)="resubmitConf()" class="cancel ion-activatable ripple-parent edit">Resubmit
            <ion-ripple-effect></ion-ripple-effect>&nbsp;
            <ion-icon name="send-outline"></ion-icon>
          </div>
          <div *ngIf="bookingStatus !='Unfinished' && bookingStatus !='Cancelled' && bookingStatus !='Closed'  && bookingStatus != 'Rejected'"  class="cancel ion-activatable ripple-parent" (click)="cancel()">Cancel&nbsp;
            <ion-ripple-effect></ion-ripple-effect>
            <ion-icon name="close-outline"></ion-icon>
          </div>
        </div>
      </div>
      <div class="header" *ngIf="!booking.isManual">
        <div class="bookingCont">
          <ion-icon name="information-circle-outline"></ion-icon>Booking Info
        </div>
        <div class="transac">
          <ion-icon name="chatbubble-ellipses-outline"></ion-icon>Conversation
        </div>
        <div class="boxHolder">
          <div class="box" (click)="goTo('Booking Info', 'booking-information', tab)">
            <div class="active" #tab [ngStyle]="{'left.px': boxPosition}">
              <div class="shade">

                <ion-icon *ngIf="clickedTab == 'Booking Info'; else transaction" name="information-circle">
                </ion-icon>
                <ng-template #transaction>
                  <ion-icon name="chatbubble-ellipses"></ion-icon>
                </ng-template>
                {{clickedTab}}
              </div>
            </div>
          </div>
          <div class="box" (click)="goTo('Conversation','conversation', tab, {queryParams: {bookingId: booking._id, pageId: booking.pageId._id, receiverId: booking.pageId.creator._id}})"></div>
        </div>
      </div>
    </div>
    <div class="dateAndStatus">
      <div class="dateCreated">
        {{booking.createdAt | date:'short'}}
      </div>
      <div [ngClass]="getStatus(booking.status)" class="bookingStatus">
        Status:
        <b>
          {{booking.status == 'Processing'? "Accepted": booking.status}}
        </b>
      </div>
    </div>
    <div class="payButton" *ngIf="booking.status == 'Pending'">
      <p> Once this booking is <b>Accepted</b>, you need to pay to make it officially <b>Booked</b></p>
      <button class="appBtn disabledBtn">Pay Now</button>&nbsp;<b style="color: gray">&#8369; 300.00</b>
    </div>
    <div class="payButton" *ngIf="booking.status == 'Rejected'">
      <p><b>Reason: </b><span style="color: red">{{booking['rejectionReason'] ? booking['rejectionReason'] : ""}}</span></p>
    </div>
    <div class="payButton" *ngIf="booking.status == 'Processing'">
      <p> <b>Please pay to finalize this booking.</b><br> Failure to pay within <b>24 hours</b> will make this booking rejected.</p>
      <button class="appBtn" (click)="pay()">Pay Now</button> &#8369; <b>300.00</b>
    </div>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
    <router-outlet></router-outlet>
  </div>
 
  <app-confirm-popup [popupData]="popupData"  (clicked)="clicked($event)">
  </app-confirm-popup>

  <div class="paypalButtons" *ngIf="showPaypal">
    <div class="payText">Please pay to finalize your booking</div>
    <div class="amount">Booking fee: &#8369; 300.00</div>
    <div class="payThru">Pay Through:</div>
    <div #paypalRef></div>
    <div class="appBtn cancelPayment" (click)="showPaypal = false">Cancel</div>
  </div>
</ion-content>