<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="service-provider/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="form-container">
      <form [formGroup]="changePassword" (ngSubmit)="changePass()" class="change-pass">
        <div class="change-pass">
          
          <label for="new-password">New Password</label><br>
          <input type="password" id="newPassword" name="nPassword" formControlName="nPassword" [(ngModel)]="newPassword">
          <div *ngIf="nPassword.invalid && (nPassword.touched || nPassword.dirty)">
            <p id="error" *ngIf="nPassword.errors.required">Password is required</p>
            <p id="error" *ngIf="nPassword.errors.minlength">Password must at least 8 characters</p>
          </div>
        
          <label for="confirm-password">Confirm Password</label><br>
          <input type="password" id="confirmPassword" name="conPassword" formControlName="conPassword" [(ngModel)]="confirmPassword" >
          <div *ngIf="conPassword.invalid && (conPassword.touched || conPassword.dirty)">
            <p id="error" *ngIf="conPassword.errors.required">Password must at least 8 characters</p>
          </div>
    
          <p id="note" >Please input your current password before you submit.</p>
          <label for="current-password">Your Current Password</label>
          <input type="password" id="currentPassword" name="curPassword" formControlName="curPassword" [(ngModel)]="currentPassword" placeholder="Input your current password...">
          <div *ngIf="curPassword.invalid && (curPassword.touched || curPassword.dirty)">
            <p id="error" *ngIf="curPassword.errors.required">Current password is required.
          </div>
          <br><br><br>
    
          <input type="submit" value="Save Changes">
        </div>
      </form>
    </div>
  </div>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="service-provider/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="form-container">
      <form [formGroup]="changePassword" (ngSubmit)="changePass()" class="change-pass">
        <div class="change-pass">
          
          <label for="new-password">New Password</label><br>
          <input type="password" id="newPassword" name="nPassword" formControlName="nPassword" [(ngModel)]="newPassword">
          <div *ngIf="(submitClicked == true && nPassword.invalid) || (nPassword.invalid && (nPassword.touched || nPassword.dirty))">
            <p id="error" *ngIf="nPassword.errors.required">Password is required</p>
            <p id="error" *ngIf="nPassword.errors.minlength">Password must at least 8 characters</p>
          </div>
         
          <label for="confirm-password">Re-type New Password</label><br>
          <input type="password" (keyup)="confirmNewPassword()" id="confirmPassword" name="conPassword" formControlName="conPassword" [(ngModel)]="confirmPassword" >
          <div *ngIf="(submitClicked == true && conPassword.invalid) || (conPassword.invalid && (conPassword.touched || conPassword.dirty))">
            <p id="error" *ngIf="conPassword.errors.required">This field is required</p>
          </div>
          <p id="error" *ngIf="match == false">Password did not match</p>
    
          <p id="note">Please input your current password before you submit.</p>
          <label for="current-password">Your Current Password</label>
          <input type="password" (keyup)="compare()" id="currentPassword" name="curPassword" formControlName="curPassword" [(ngModel)]="currentPassword">
          <div *ngIf="(submitClicked == true && curPassword.invalid) || (curPassword.invalid && (curPassword.touched || curPassword.dirty))">
            <p id="error" *ngIf="curPassword.errors.required">Current password is required</p>
          </div>
          <p id="error" *ngIf="correctOldPassword == false">Your current password is wrong</p>
          <br><br><br>
          <input type="submit" value="Save Changes">
        </div>
      </form>
    </div>
  </div>
</ion-content>
