.container {
    padding:0;
    background-color: lightgray;
    margin:10px 0;
}

.innerWrapper {
    height: 180px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ion-textarea, ion-input, input, textarea {
    border: 1px solid rgb(186, 194, 204) !important;
}
.imgWrapper {
    // background-color: rgb(124, 122, 122);
    background-color: rgb(233, 232, 232);
}

.shrink {
    height: unset !important;
    flex-direction: row;

    .buttonDiv {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .imageIcon {
        vertical-align: middle;
        font-size: 21px;
    }
}

.image {
    height: 250px;
}

.fileInput {
    // width:101px;
    background-color: rgb(179, 176, 176);
    text-align: center;
}

.imageIcon {
    font-size: 50px;
    margin:8px;
}

.buttonDiv {
    text-align: center;
}

.imageGrid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.singleCol {
    display: block !important;
}


ion-slides {
    height: 300px;
    // background-color: rgb(124, 122, 122);
    background-color: rgb(233, 232, 232);
}

.imageHolder {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageCont {
    margin:0;
    padding:0;
    box-sizing: border-box;
    height:180px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}