$mediumLight: rgb(80, 84, 97);
$DarkBlueText: rgb(36, 78, 133);
$lightBg: rgb(216, 224, 238);
$lightBlueBg:rgb(225, 233, 243);
$gradient: linear-gradient(to right, rgb(11, 108, 204),rgb(91, 218, 223));