<ion-content class="page" no-padding>
  <div class="pageBody mainLightBg2">
    <div class="header">
      <div class="design"></div>
      <div class="design design1"></div>
      <div class="design2"></div>
      <div class="design3"></div>

      <div class="nlogo">
        <div class="boxes">
          <div class="box b1"></div>
          <div class="box b2"></div>
          <div class="box b3"></div>
          <div class="box b4"></div>
        </div>
        <div class="vertical"></div>
        <div class="horizontal"></div>
        <div class="arrowPoint1"></div>
      </div>

      <h3 class="appTitle">ExploreHub</h3>
    </div>
    <div class="formHolder">
      <div class="contents loginContent">

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="fieldHolder" [class.hasErrors]="form.get('credential').errors != null && form.get('credential').touched">
            <p class="inputLabel">Phone number | email</p>
            <input class="inputField" autocomplete="off" (keyup)="checkCred()" name="credential" formControlName="credential"
              autcomplete="on">
            <ul class="validationError"
              *ngIf="(form.get('credential').dirty || form.get('credential').touched) && form.get('credential').errors != null">
              <li *ngFor="let error of form.get('credential').errors.validations">
                {{ error.message }}
              </li>
            </ul>
          </div>

          <div class="fieldHolder" [class.hasErrors]="form.get('password').errors != null && form.get('password').touched">
            <p class="inputLabel">Password</p>
            <div class="hasIcons">
              <div class="iconHolder">
                <ion-icon class="fieldsIcon" (click)="showPassword = false" *ngIf="showPassword" name="eye-off-outline">
                </ion-icon>
                <ion-icon class="fieldsIcon" (click)="showPassword = true" *ngIf="!showPassword" name="eye-outline">
                </ion-icon>
              </div>
              <input class="inputField" name="password" autocomplete="off" formControlName="password"
                [type]=" !showPassword ? 'password': 'text'">
            </div>
            <ul class="validationError"
              *ngIf="(form.get('password').dirty || form.get('password').touched) && form.get('password').errors != null">
              <li *ngFor="let error of form.get('password').errors.validations">
                {{ error.message }}
              </li>
            </ul>
          </div>
          <div class="submitBtnHolder noMarginBottom">
            <button type="submit" class="submitBtn ion-activatable ripple-parent"
              
              type="submit">Log In
              <ion-ripple-effect></ion-ripple-effect>
            </button>
          </div>
        </form>
        <div>
          <p class="textBtn forgotPass" routerLink="/find-account">Forgot password?</p>
        </div>

        <div class="or">
          <p>OR</p>
        </div>

        <div>
          <button class="registerBtn ion-activatable ripple-parent" (click)="goTo('register')">
            Register
            <ion-ripple-effect></ion-ripple-effect>
          </button>
        </div>
        
      </div>
    </div>
  </div>
</ion-content>