.container {
    height: 100%;
    background-color: #f4f6f8 !important;
    overflow: scroll;
    padding:10px 0;
}

.inputValueDisplay {
    // border-top:2px solid #ffff;
    // padding-top: 10px;
}

.descText {
    padding:10px 15px;
    color: rgb(82, 99, 110);
    background-color: rgb(224, 234, 240);
}
.editBtnHolder {
    // font-size: 19px;
    color: rgb(72, 91, 109);
    padding:5px 15px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    .textHolder {
        display: flex;
        align-items: center;
        
        ion-icon {
            margin-bottom: 1px;
            margin-right: 8px;
        }
    }
}
.editBtn {
    text-align: right;
    padding:5px;
    font-size: 16px !important;
    border-radius: 5px;
    display:inline-block;
    color: dodgerblue;
}

.paypalButtons {
    display: flex;
    height:100%;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    padding:20px;

    
    .payText {
        padding: 10px 0;
        text-align: left;
        font-size: 21px;
        color:rgb(57, 80, 104);
    }

    .amount {
        padding: 15px;
        text-align: center;
        margin-bottom: 10px;
        font-size: 24px;
        border-radius: 5px;
        background-color: rgb(236, 241, 245);
        color: rgb(73, 97, 121);
    }

    .payThru {
        font-size: 12px;
        color:rgb(70, 91, 114);
        padding: 5px 0;
    }
}

.cancelPayment {
    text-align: center;
    border: 1px solid rgb(170, 78, 78) !important;
    background: none !important;
    color: rgb(182, 3, 3) !important;

}