<ion-menu side="start" menuId="first" content-id="main-content">

  <ion-content (click)="clickContent($event)">
    <div class="menu-header-bg"></div>
    <div class="header-content">
      <div class="logo" [ngStyle]="{'background-image': 'url('+appLogo + ')'}"></div>
      <ion-label>
        <h2>ExploreHub</h2>
        <p class="serve">Explore the Wonders <br/> of Nature</p>
      </ion-label>
    </div>
    <!-- <div class="divDesign"></div>
    <div class="divDesign design2"></div> -->
    <ion-list lines="none" class="menu-items">
      <ion-menu-toggle auto-hide="false">
        <ion-item style="position:relative;" [class.active]="active == 'settings'" (click)="gotTo($event, 'settings')"
          class="ion-activatable ripple-parent accHolder">
          <div style="overflow: visible;">
            <div class="profilePic">
              <div class="pic" *ngIf="mainService.user.profile"
                [ngStyle]="{'background-image' : 'url(' + mainService.user.profile + ')'}">
              </div>
              <div *ngIf="!mainService.user.profile" class="pic">
                <ion-icon name="person-outline"></ion-icon>
              </div>
            </div>
            <ion-label>
              <p class="sbText">
                {{mainService.user.firstName + " " + mainService.user.lastName}}
              </p>
            </ion-label>
          </div>
          <p class="accType">{{accountType}}</p>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-item>

        <ion-item [class.active]="active == 'online-pages-list'" (click)="gotTo($event, 'online-pages-list')"
          class="divider ion-activatable ripple-parent">
          <div>
            <ion-icon name="compass-outline"></ion-icon>
            <ion-label>
              <p class="sbText">
                Tourist Spots
              </p>
            </ion-label>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-item>

        <ion-item [class.active]="active == 'bookings-Pending'" (click)="gotTo($event, 'bookings', ['Pending'])"
          class="ion-activatable ripple-parent">
          <div>
            <ion-icon name="newspaper-outline"></ion-icon>
            <ion-label>
              <p class="sbText">
                Bookings
              </p>
            </ion-label>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-item>

        <ion-item [class.active]="active == 'notifications'" (click)="gotTo($event, 'notifications')"
          class="ion-activatable ripple-parent">
          <div>
            <ion-icon name="notifications-outline"></ion-icon>
            <ion-label>
              <p class="sbText">
                Notifications
              </p>
            </ion-label>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-item>


        <ion-item [class.active]="active == 'bookings-Unfinished'" (click)="gotTo($event, 'bookings', ['Unfinished'])"
          class="ion-activatable ripple-parent">
          <div>
            <ion-icon name="file-tray-full-outline"></ion-icon>
            <ion-label>
              <p class="sbText">
                Draft Bookings
              </p>
            </ion-label>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-item>


        <ion-item *ngIf="accountType != defaultType.tourist" [class.active]="active == 'list-of-pages-submitted'"
          (click)="gotTo($event, 'list-of-pages', ['submitted'])" class="divider ion-activatable ripple-parent">
          <div>
            <ion-icon name="bar-chart-outline"></ion-icon>
            <ion-label>
              <p class="sbText">
                My Pages
              </p>
            </ion-label>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-item>

        <ion-item *ngIf="accountType != defaultType.tourist" [class.active]="active == 'select-page-type'"
          (click)="gotTo($event, 'select-page-type')" class="ion-activatable ripple-parent">
          <div>
            <ion-icon name="create-outline"></ion-icon>
            <ion-label>
              <p class="sbText">
                Create New Page
              </p>
            </ion-label>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-item>

        <ion-item *ngIf="accountType != defaultType.tourist" [class.active]="active == 'list-of-pages-unfinished'"
          (click)="gotTo($event, 'list-of-pages', ['unfinished'])" class="ion-activatable ripple-parent">
          <div>
            <ion-icon name="file-tray-full-outline"></ion-icon>
            <ion-label>
              <p class="sbText">
                Draft Pages
              </p>
            </ion-label>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-item>





        <ion-item (click)="logout()" class="divider logout ion-activatable ripple-parent">
          <div>
            <ion-icon name="log-out-outline"></ion-icon>
            <ion-label>
              <p class="sbText">
                Logout
              </p>
            </ion-label>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-item>
      </ion-menu-toggle>

    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content" main></ion-router-outlet>